<h4>Dashboard</h4>

<h5>Featured Aliens:</h5>


<!-- <img ng-src="{{alien.location}}" ng-click="go(createAlienUrl(alien.name))" ng-repeat="alien in aliens" /> -->
<span>
<img ng-src="{{aliens[0].location}}" ng-click="go(createAlienUrl(aliens[0].name))"/>
<img ng-src="{{aliens[3].location}}" ng-click="go(createAlienUrl(aliens[3].name))"/>
<img ng-src="{{aliens[4].location}}" ng-click="go(createAlienUrl(aliens[4].name))"/>
<img ng-src="{{aliens[5].location}}" ng-click="go(createAlienUrl(aliens[5].name))"/>
<img ng-src="{{aliens[9].location}}" ng-click="go(createAlienUrl(aliens[9].name))"/>
</span>