<!DOCTYPE html>
<html ng-app="TourOfHeroes">
<head>
	<title>{{ title || "Doctor Who App"}}</title>	
	<link rel="stylesheet" href="styles.css">
</head>
<body ng-controller = "AliensController">
	
	<h1>Doctor Who</h1>
	<header>
		<div>
			<button ng-click="go('/home')">Dashboard</button>
			<button ng-click="go('/aliens')">Aliens</button>
		</div>
		<!-- <p>I just spammed the button {{count}} times </p> -->
	</header>
	<div ng-view></div>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>


<!-- =============useless or maybe reusable code=================== -->
<!-- 	<h2 ng-click="ac.greet()">{{ title }}</h2> -->
	<!-- <input type="text" name="" ng-model="ac.something"> -->
<!-- 
 <!DOCTYPE html>
<html ng-app="TourOfHeroes">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="test.js"></script>
</head>

<body>
  <div ng-controller=SpecialOrderItemsCtrl>
    <label>Raw Article JSON</label>
    <p>{{articles}}</p>
    <label>Json transversed by one level</label>
    <p>{{articles.data}}</p>
    <label>THD CUstomer</label>
    <p>{{custInfo}}</p>
  </div>
</body>

</html>


 -->