<!DOCTYPE html>
<html ng-app="TourOfHeroes">
<head>
	<!-- <title>{{ title || "BOO"}}</title> -->
	<title>Angular Tour of Heroes</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- 	<h1 ng-click="ac.greet()">{{ title }}</h1>
	<input type="text" name="" ng-model="ac.something"> -->
	<div ng-view></div>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>

